{
  "parser": "babel-eslint",
  "env": {
    "browser": 1,
    "node": 1,
    "mocha": 1,
    "es6": 1
  },
  "ecmaVersion": 7,
  "ecmaFeatures": {
    "modules" : true,
    "jsx": true
  },
  "globals": {
    "expect": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "callback-return": [ 1, [ "callback", "clbk", "cb", "done", "next" ] ],
    "handle-callback-err": [ 2, "^(err|error)$" ],
    "no-mixed-requires": [ 2, false ],
    "no-new-require": 2,
    "no-path-concat": 2,
    "no-process-exit": 0,
    "no-restricted-modules": 0,
    "no-sync": 1,
    "quotes": [2, "single"],
    "block-scoped-var": 2,
    "dot-notation": 0,
    "eqeqeq": [
      2,
      "allow-null"
    ],
    "no-bitwise": 2,
    "no-caller": 2,
    "no-cond-assign": 0,
    "no-debugger": 2,
    "no-empty": 0,
    "no-eval": 2,
    "no-extend-native": 2,
    "no-extra-parens": 0,
    "no-irregular-whitespace": 2,
    "no-iterator": 2,
    "no-loop-func": 2,
    "no-multi-str": 2,
    "no-new": 2,
    "no-plusplus": 0,
    "no-proto": 2,
    "no-script-url": 2,
    "no-sequences": 2,
    "no-shadow": 2,
    "no-undef": 2,
    "no-unused-vars": 2,
    "no-with": 2,
    "semi": [2, "never"],
    "strict": 0,
    "valid-typeof": 2,
    "wrap-iife": [
      2,
      "inside"
    ],
    "jsx-quotes": 1,
    "react/display-name": 1,
    "react/forbid-prop-types": 1,
    "react/jsx-boolean-value": 1,
    "react/jsx-closing-bracket-location": 1,
    "react/jsx-curly-spacing": 1,
//    "react/jsx-handler-names": 1,     Waiting for a new version pump
    "react/jsx-indent-props": [1, 2],
    "react/jsx-key": 1,
    "react/jsx-max-props-per-line": 1,
    "react/jsx-no-bind": 1,
    "react/jsx-no-duplicate-props": 1,
//    "react/jsx-no-literals": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-pascal-case": 1,
    "react/jsx-sort-prop-types": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-danger": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-direct-mutation-state": 1,
    "react/no-multi-comp": 1,
    "react/no-set-state": 1,
    "react/no-unknown-property": 1,
    "react/prefer-es6-class": 1,
    "react/prop-types": 1,
    "react/react-in-jsx-scope": 1,
    "react/require-extension": 1,
    "react/self-closing-comp": 1,
    "react/sort-comp": 1,
    "react/wrap-multilines": 1
  }
}