// Base color
$color-main: #72329D;

// Border color
$color-border: #ccc;
$color-border-d1: #aaa;

// Background color
$color-bacnground: #fafafa;
$color-bacnground-l1: #eee;


// Generic colors
$color-grey-d3: #4D4D4D;
