@import "../../css/variables";

.headline {
  color: $color-grey-d3;
  font-size: 3em;
  margin: 0 0 0.5em 0;
}

.clubName {
  color: $color-main;
  font-size: 2em;
  margin: 0;
}

.tip {
  font-size: 1.3em;
  margin: 3em 0;
}
