@import "../../css/_variables";

:local .avatar {
  img {
    width: 100px;
    height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid $color-border-d1;
    background-size: cover;
  }
}

:local .formBox {
  input{
    width: 100%;
    padding: 0.7em;
    text-align: center;
    height: 2.5em;
    border: 1px solid $color-border;;
    background: $color-background;
    transition:0.2s ease-in-out;
    border-radius: 0;
    text-transform: lowercase;
    margin-bottom: 1em;
  }

  input:focus{
    outline: 0;
    background: $color-background-l1;
  }
}


:local .formBoxLogin{
  margin-top:15px;
  padding: 10px 20px;
}
